{% extends 'base.html' %}

{%block head %}
<title>Dusty Traveler | Profile </title>
{% endblock %}

{%block body %}
<div class="col-md-8">
	<h1>Profile</h1>
	<p> User Name: {{ user }} </p>
	<p> Name: {{ user.first_name }} {{ user.last_name }} </p>
	<p>Email: {{ user.email }} </p>
	<p>Desc: {{ user.userprofile.description }}</p>
	<!--<p><a href="{% url 'accounts:edit_profile' %}"><button type="button" class="btn btn-info">Edit Profile</button></a></p>-->
	
	{% if user.userprofile.image %}
	
	<img src="{{user.userprofile.image.url }}" width="300" height="450">
</div>
{% endif %}
{% endblock %}
{% block dashboard %}
{% endblock %}

