<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	      crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{%block head %}
	<title>Dusty Traveler | Home</title>
	{% endblock %}
</head>

<body>
<br>

<!-- Static navbar -->
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				        aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home:home' %}"><i>Dusty Traveler</i></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav">
					{% url 'home:home' as HOME %}
					<li {% if request.path == HOME %} class="active"{% endif %}
					    role="presentation"><a href="{{HOME}}">Home</a></li>
					<li class="dropdown {% if 'account' in request.path %} active{% endif %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'accounts:view_profile' %}">View</a></li>
							<li><a href="{% url 'accounts:edit_profile' %}">Edit</a></li>
							<li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
						</ul>
					{% url 'home:view_blog' as my_blogs %}
					<li {% if request.path == my_blogs %} class="active"{% endif %}><a href="{{my_blogs}}">My Blogs</a></button></li>
					
					{% url 'vote:show_favorites' as faves %}
					<li {% if request.path == faves %} class="active"{% endif %}><a href="{{faves}}">My Favorites</a></button></li>
					
					{% url 'home:all_blogs' as explore %}
					<li {% if request.path == explore %} class="active"{% endif %}><a href="{{explore}}">Explore</a></li>
					<!--<li><a href="{% url 'vote:upvote' %}">Test</a></li>-->
				
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><p class="navbar-text">Hi {{request.user.first_name }}</p></li>
					<form class="navbar-form navbar-left" role="search" method="post" action="{% url 'home:search_nlp' %}">
						{% csrf_token %}
						<div class="form-group">
							<input type="text" id="searchBox" class="form-control" name="qry" placeholder="Search...">
						</div>
						<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
						</button>
							<!--<li><input  class="form-check-input" type="checkbox" id="NLP" name="NLP">-->
							  <!--<label style="color: #fff" class="form-check-label" for="NLP">-->
							    <!--Include NLP?-->
							  <!--</label></li>-->

					</form>
					<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'accounts:login' %}">Login</a></li>
					<li><a href="{% url 'accounts:register' %}">Register</a></li>
				</ul>
				{% endif %}
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>
</div>

<div class="container">
{% block body %}


{% endblock %}

{% if request.user.is_authenticated %}
{% block dashboard %}
<div class="col-md-4">
<!-- Your Dashboard -->

	<div id="accordion">
		
		<h3>Your dashboard</h3>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
					        aria-expanded="false" aria-controls="collapseTwo" style="color: black;">
						{{friends.count}} Friend{{friends.count|pluralize}}
						<a class="glyphicon glyphicon-user"></a>
					</button>
				</h5>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<div class="container">
						
						{% for friend in friends %}
						<a href="{% url 'accounts:view_profile_with_pk' pk=friend.pk %}">
							<h5>{{ friend.first_name }} {{ friend.last_name }}</h5></a>
						<a href="{% url 'home:change_friends' operation='remove'  pk=friend.pk %}"
						   class="badge progress-bar-danger">Remove</a>
						{% endfor %}
					</div>
				
				
				</div>
			</div>
		</div>
		
		<div class="card">
			<div class="card-header" id="headingThree">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
					        aria-expanded="false" aria-controls="collapseThree" style="color: black;">
						{{ others }} Other blogger{{ others|pluralize}}
						<a class="glyphicon glyphicon-globe"></a>
					
					</button>
				</h5>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="card-body">
					<div class="container">
						{% for user in users %}
						{% if not user in friends %}
						<a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
							<h5>{{ user.first_name }} {{ user.last_name }}</h5></a>
						
						<a href="{% url 'home:change_friends' operation='add'  pk=user.pk %}"
						   class="badge progress-bar-success">Add</a>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="card">
			<div class="card-header" id="headingFour">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
					        aria-expanded="false" aria-controls="collapseFour" style="color: black;">
						<a style="color: black;" href="{% url 'home:view_blog' %}">
							{{ my_blog_count }} Blog{{ my_blog_count|pluralize }}</a>
						<a class="glyphicon glyphicon-list-alt"></a>
					
					</button>
				</h5>
			</div>
		</div>
		
		<div class="card">
			<div class="card-header" id="headingFive">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
					        aria-expanded="false" aria-controls="collapseFive" style="color: black;">
						<a style="color: black;" href="{% url 'vote:show_favorites' %}">
							{{ my_faves|length }} Favorite{{ my_faves|length|pluralize }}</a>
						<a class="glyphicon glyphicon-bookmark"></a>
					
					</button>
				</h5>
			</div>
		</div>
	
		<div class="card">
			<div class="card-header" id="headingSix">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
					        aria-expanded="false" aria-controls="collapseSix" style="color: black;">
						<a style="color: black;" href="{% url 'home:create_blog' %}">
							<b>Create a new Blog</b></a>
						<a class="glyphicon glyphicon-plus"></a>
					
					</button>
				</h5>
			</div>
		</div>
	</div>
</div> <!-- end dashboard -->
{% endblock %}
{% endif %}
</div>

</body>

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

{% endblock %}

</html>